canvas {
    display: block;
}

.matrix{
    display: block;
    z-index:0;
}

.displayNone{
    animation: toDisplayNone 3s forwards;
}


@keyframes toDisplayNone {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.5
    } 
    100% {
        opacity: 0.3
    }
}